*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* intestazione pagina */
#intestazione{
    
    /* DEBUG */
    background-color: blue;
}

#barra-navigazione{
    width: 80%;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.logo{

    height: 75px;
    width: 100px;
    background-color: aqua;
}

.nav{

    height: 75px;
    width: 700px;
    background-color: antiquewhite;
}

.accedi{
    height: 75px;
    width: 100px;
    background-color: blanchedalmond;
}

.titolo{

    /* DEBUG */ 
    width: 80%;
    min-height: 40px;
    background-color: black;
    margin: auto;
    margin-top: 150px;
}

#descrizione-titolo{

    /* DEBUG */
    width: 80%;
    min-height: 300px;
    background-color: red;
    margin: auto;
    margin-top: 10px;
}

/* regole sezione main */

.sezione-flex{
    display: flex;
    justify-content: space-between;
    
} 

.grey{
    background-color: grey;
}

.sezione-flex > div {
    width: 40%;
    
    /* DEBUG */
    margin: 40px;
    min-height: 300px;
    background-color: green;
    border: solid 1px black;
}

.tecnologia{
    margin: 20px auto;
    width: 80%;
}

#titolo-secondario{
    /* DEBUG */
    height: 50px;
    background-color: aqua;
}

#paragrafo-secondario{
    /* DEBUG */
    margin: 30px auto;
    height: 70px;
    background-color: pink;

}

#immagine{

    /* DEBUG */
    height: 400px;
    background-color: red;
}


/* footer */

footer{
    background-color: lightslategray;
    
}

.fine{
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#big-column{
    margin: 20px 0;

    /* DEBUG */
    min-height: 300px;
    width: 20%;
    background-color: aqua;

}

.column{
    margin: 20px 0;

    /* DEBUG */
    min-height: 300px;
    width: 15%;
    background-color: aqua;
}

.contenitore{
    width: 80%;
    margin: auto;
}

hr{
    margin-bottom: 20px;
}